page-trackmap {
    #map {
        height: 100%;
        
    }

    .fab {
        font-size: xx-small;
        $fab-content-margin:1px;
        $fab-list-margin:1px;
    }

    .fab1{
        // font-size: xx-small;
        // $fab-content-margin:1px;
        // $fab-list-margin:1px;
        margin-top: 30px;
        margin-left: -20px;
    }
    .fab2{
        margin-top: -20px;
    }
    .fab3{   
        margin-top: -5px;
    }

    .input{
        font-size: xx-small;
    }

    .header{
        font-family: 'Baloo';
        text-align: center;
        text-shadow: 1px 1px #000000;
    }

    .no-scroll .scroll-content{
        overflow: hidden;
   }
}
