page-tracker {
    .background {
        background-image: url('../../assets/TrackPage.png');
        background-repeat: no-repeat;
        position: contain;
        background-position: center;
        background-size: cover;
        background-position: 70% 10%;
    }
    .button {
        opacity: .75;
        display: block;
        margin: auto;
        width: 60%;
    }

}
