page-home {

    .background {
        background-color: #ebe8e8;
        position: contain;
        background-position: center;
        background-size: cover;
        background-position: 70% 10%;
              
       
    }
 
 }
