page-contact {

.b_background {
    background-image: url('../assets/imgs/test.png');
    background-size: contain;
    background-repeat: no-repeat;
    flex-flow: column;
            } 
            
.info_collect{
   margin-top: 1ch;

}
.datefront{
    font-style: italic;
    

}

}